* {
  box-sizing: border-box;
  font-family: Helvetica Neue, serif;
}

.ui-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 300px;
  height: 300px;
  color: #292929;
  z-index: 999;
  background-color: #FFFFFF;
  border: 1px solid #f2800d;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-out;
  opacity: 1;
}
.ui-container.hideme {
  bottom: -350px;
  opacity: 0;
}
.test-list {
  overflow-y: scroll;
  height: 250px;
}
.test {
  padding: 10px;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #292929;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}
.data-label {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  color: #292929;
}
.data-label:after {
  content: ":";
}
.data-value {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}
.variant {
  text-transform: uppercase;
  color: #66ff33;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f2800d;
  color: #000;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.reset {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #f2800d;
  font-size: 18px;
  color: #FFFFFF;
  border: 0;
}
